@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../assets/fonts/bebas-neue/BebasNeue-webfont.eot');
    src: url('../assets/fonts/bebas-neue/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/bebas-neue/BebasNeue-webfont.woff') format('woff'),
         url('../assets/fonts/bebas-neue/BebasNeue-webfont.ttf') format('truetype'),
         url('../assets/fonts/bebas-neue/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
	/*background: url('../images/fondo.jpg');*/
    position: relative;
}

#contenido{
    margin-top: 0px;
    background: url('../images/fondo.jpg');
    position: absolute;
    width: 100%;
    padding-top: 45px;
}

.menu-content,.footer-content{
	/*background: url('../images/barra-fondo.jpg');*/
    background-color: black;
	opacity: 0.9;
    filter: alpha(opacity=90);
}

#map_canvas{
  width:100%;
  height:600px;
}

.footer-content-cel{
    margin-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.luckymenu{
	float: right !important;
    padding-right: -10px;
}

.luckymenu .active{
    color: #F5D204 !important;
}
    
.navbar-default .navbar-nav > li > a{
	color: white !important;
	font-family: 'BebasNeueRegular';
	font-size: 25px;
}

.navbar-default .navbar-nav > li > a:hover{
    color: #F5D204 !important;
}

.mapa{
  position: relative;
  width: 100%;
  height: 600px;
  background: url("../images/mapa_bw.png") 50% 50% / cover no-repeat;
}
.mapa img{
  margin: 0 auto;
}
.mapa .ubica-text{
  top: 30%;
}
.mapa .ubica-boton{
  top: 32%;
}
.carousel{
  margin-top: 51px !important;
}
.carousel-indicators{
	bottom: 50px;
}

.galeria{
    padding: 0 !important;
}
#galeria .row{
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.contacto{
    min-height: 930px;
}
.contacto .logo{
    margin-top: 255px;
}
.contenedor-form-contacto{
    padding-right: 40px;
}
.form-contacto{
    background-color: black;
    opacity: 0.7;
    filter: alpha(opacity=70);
    padding-bottom: 18px;
}
.form-contacto .titulo{
    font-family: 'BebasNeueRegular';
    margin-top: 20px;
    color: #F5D204;
    font-size: 57px;
    text-transform: uppercase;
    line-height: 57px;
}
.form-contacto label{
    margin-top: 14px;
    font-family: 'Arial';
    color: #F5D204;
    font-size: 20px;   
}
.form-contacto input[type="text"],input[type="date"],textarea{
    width: 100%;
    margin: 5px 0 0;
    padding: 15px;
    border: 0;
    outline: 0;
    resize: none;
    font-size: 13px;
    line-height: 17px;
    background-color: #fff;
    color: #818181;
    font-family: 'Raleway';
    font-weight: 400;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.contacto .botonEnviar{
    font-family: 'BebasNeueRegular';
    color: #F5D204;
    font-size: 30px;
    text-transform: uppercase;
    background-color: black;
    width: 132px;
    height: 40px;
    margin-right: 40px;
    margin-top: 15px;
    opacity: 0.7;
    filter: alpha(opacity=70);
    cursor: pointer;
}

.inputError{
    border: solid 1px red;
}
.help-error{
    color: #BF3037;
}
.contacto .botonEnviarDisabled{
    background-color: gray;
    color: #454545;
    cursor: default;
}
.elementoFooter{
    padding-top: 10px;
}
.elementoFooterCel{
    padding-top: 10px;
}
.logoFooter{
    padding-top: 5px;
}
.navbar-brand{
    padding: 5px 15px !important;
}


@media only screen and (max-width: 767px) {
  .form-contacto .titulo{
    font-size: 57px;
    padding-top: 10px;
  }
  .contacto .logo{
    margin-top: 15px;
  }
  .contacto .logo img{
    margin: 0 auto;
  }
  .contenedor-form-contacto {
    padding-right: 5px;
  }
  #map_canvas,.map{
    height:300px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
  .form-contacto .titulo{
    font-size: 34px;
    line-height: 34px;
  }
  #map_canvas,.map{
    height:400px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px){
  .form-contacto .titulo{
    font-size: 46px;
    line-height: 46px;
  }
  #map_canvas,.map{
    height:500px;
  }
}

@media only screen and (min-width: 1200px){
  
}

.banner{
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center; 
}